.nav {
    display: flex;
    justify-content: space-between;
}

.nav h1 {
    color: #fd6900;
    margin: 0px;
    font-size: 38px;
    padding-top: 8px;
}

.nav ul {
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.nav li {
    padding-left: 15px;
    padding-top: 15px;
}

.nav li a {
    text-decoration: none;
    color: #fd6900;
}

.nav .nav-search {
    margin-top: 10px;
    flex: 1px;
    display: flex;
    margin-right: 5%;
    margin-left: 5%;
}

.nav .nav-search input {
    FLEX: 1;
    color: blueviolet;
    border: 1px solid blueviolet;
    height: 38px;
    border-right: none;
}

.nav .nav-search button {

    color: blueviolet;
    border: 1px solid blueviolet;
    height: 38px;
    border-left: none;
}

h1 .header-title {
    text-decoration: none;
}


.search-suggestion-list {
    position: absolute;
    top: 47px;
    z-index: 10;
    display: list-item !important;
    border: 1px solid blueviolet;
    background-color: white;
    width: 300px;
}

.search-suggestion-list li {
    padding: 5px;
    border: 1px solid #ddd;
}

.search-suggestion-list li a {
    cursor: pointer;
    color: blueviolet;
}