<div class="seller-auth">
    <div *ngIf="!showLogin" class="signup">
        <h1>Seller Sign-Up</h1>
        <form #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)" class="common-form">
            <input class="form-input" ngModel name="name" type="text" placeholder="Enter Namer">
            <input class="form-input" ngModel name="email" type="text" placeholder="Enter Email">
            <input class="form-input" ngModel name="password" type="password" placeholder="Enter Password">
            <button class="form-button">Sign-Up</button>
            <a class="auth-toggle-link" (click)="openLogin()">Already have Account? Click to Login</a>
        </form>
    </div>

    <!-- ========== Login Form  ========== -->
    <div *ngIf="showLogin" class="login">
        <h1>Seller Login</h1>
        <p class="loginErrorMsg">{{authError}}</p>
        <form #sellerLogin="ngForm" (ngSubmit)="logIn(sellerLogin.value)" class="common-form">
            <input class="form-input" ngModel name="email" type="text" placeholder="Enter Email">
            <input class="form-input" ngModel name="password" type="password" placeholder="Enter Password">
            <button class="form-button">Login</button>
            <a class="auth-toggle-link" (click)="openSignUp()">Don't Have Account? Create Account</a>
        </form>
    </div>

</div>