/* You can add global styles to this file, and also import other style files */

body {
    font-family: sans-serif;
}

.container {
    margin-left: 5px;
    margin-right: 5px;
}

.FormPage {
    margin-top: 30px;
}

.commonTable {
    margin: auto;
    margin-top: 50px;
    width: fit-content;
}

.common-form {
    display: flex;
    text-align: center;
    margin: auto;
    flex-direction: column;
    width: 300px;
}

.form-button {
    height: 35px;
    border: 1px solid blueviolet;
    cursor: pointer;
}

.form-input {
    height: 40px;
    margin-bottom: 20px;
    padding-left: 10px;
    border: 1px solid blueviolet;
    color: blueviolet;

}

.carousel-caption {
    background-color: #8a22e59d;
    border-radius: 10px;
    height: 100px;
    width: 400px;
    margin: auto;

}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: black;
    border-radius: 5px;
}